.btn span {
    visibility: hidden;
}

.time-picker-container {
    display: 'flex';
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items-center {
    align-items: center;
}