<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" routerLink="/servicio/nuevo">Nuevo Servicio</button>
    </div>
</div>
<form>
    <div class="row">
        <div class="form-group col-6">
            <label for="empleado">Empleado</label>
            <div class="input-group">
                <input type="text" class="form-control" id="empleado" name="empleado" readonly
                    [(ngModel)]="empleado.fullName">
                <div class="input-group-append">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#empleadoModal"
                        type="button">Buscar</button>
                </div>
            </div>
        </div>
        <div class="form-group col-6">
            <label for="cliente">Cliente</label>
            <div class="input-group">
                <input type="text" class="form-control" id="cliente" readonly name="cliente"
                    [(ngModel)]="cliente.fullName">
                <div class="input-group-append">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clienteModal"
                        type="button">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="fechaDesde">Desde</label>
            <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" [(ngModel)]="filtros.fechaDesde">
        </div>
        <div class="form-group col-6">
            <label for="fechaHasta">Hasta</label>
            <input type="date" class="form-control" id="fechaHasta" name="fechaHasta" [(ngModel)]="filtros.fechaHasta">
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary     mt-2" (click)="buscar()">Buscar</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of columns">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of data | paginate: config">
                <td>{{group.fechaHora.split(" ")[0]}}</td>
                <td>{{group.idFichaClinica.idFichaClinica}}</td>
                <td>{{group.idFichaClinica.fechaHora.split(" ")[0]}}</td>
                <td>{{group.idFichaClinica.idEmpleado.nombre + " " + group.idFichaClinica.idEmpleado.apellido }}</td>
                <td>{{group.idFichaClinica.idCliente.nombre + " " + group.idFichaClinica.idCliente.apellido }}</td>
                <td>{{group.idFichaClinica.idTipoProducto.idCategoria.descripcion}}</td>
                <td>{{group.idFichaClinica.idTipoProducto.descripcion}}</td>
                <td>
                    <button class="btn btn-success m-2" [routerLink]="[group.idServicio, 'ver']">Ver</button>
                    <button class="btn btn-success" [routerLink]="[group.idServicio, 'detalle']">Agregar
                        Detalle</button>

                </td>

            </tr>
        </tbody>
    </table>
</div>
<pagination-controls [previousLabel]="back" [nextLabel]="next" (pageChange)="pageChanged($event)">
</pagination-controls>

<div class="modal fade" id="empleadoModal" tabindex="-1" aria-hidden="true">
    <app-buscarempleado (seleccionarEmpleadoEvent)="seleccionarEmpleado($event)"></app-buscarempleado>
</div>


<div class="modal fade" id="clienteModal" tabindex="-1" aria-hidden="true">
    <app-buscarcliente (seleccionarClienteEvent)="seleccionarCliente($event)"></app-buscarcliente>
</div>



<!-- Modal -->