<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" routerLink="/reserva/nuevo">Nueva Reserva</button>
    </div>
</div>

<form>
    <div class="row">
        <div class="form-group col-6">
            <label for="empleado">Empleado</label>
            <div class="input-group">
                <input type="text" class="form-control" id="empleado" name="empleado" readonly
                    [(ngModel)]="empleado.fullName">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#empleadoModal"
                        type="button">Buscar</button>
                </div>
            </div>
        </div>
        <div class="form-group col-6">
            <label for="cliente">Cliente</label>
            <div class="input-group">
                <input type="text" class="form-control" id="cliente" readonly name="cliente"
                    [(ngModel)]="cliente.fullName">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#clienteModal"
                        type="button">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="fechaDesde">Desde</label>
            <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" [(ngModel)]="filtros.fechaDesde">
        </div>
        <div class="form-group col-6">
            <label for="fechaHasta">Hasta</label>
            <input type="date" class="form-control" id="fechaHasta" name="fechaHasta" [(ngModel)]="filtros.fechaHasta">
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-info mt-2" (click)="buscar()">Buscar</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th scope="col" *ngFor="let header of columns" >{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of data | paginate: config">
            <td>{{reserva.fecha}}</td>
            <td>{{reserva.horaInicio}}</td>
            <td>{{reserva.horaFin}}</td>
            <td>{{reserva.idEmpleado.nombre + " " + reserva.idEmpleado.apellido }}</td>
            <td>{{reserva.idCliente.nombre + " " + reserva.idCliente.apellido }}</td>
            <td>
                <button class="btn btn-outline-danger mx-2" (click)="cancelarReserva(reserva)">Cancelar</button>
                <button class="btn btn-outline-success mx-2" [routerLink]="[reserva.idReserva, 'editar']">Modificar</button>
                <button class="btn btn-outline-primary mx-2" routerLink="/ficha/nuevo">Nueva Ficha</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls 
    [previousLabel]="back"
    [nextLabel]="next"
    (pageChange)="pageChanged($event)">
</pagination-controls>

<div class="modal fade" id="empleadoModal" tabindex="-1" aria-hidden="true">
    <app-buscarempleado (seleccionarEmpleadoEvent)="seleccionarEmpleado($event)"></app-buscarempleado>
</div>

<div class="modal fade" id="clienteModal" tabindex="-1" aria-hidden="true">
    <app-buscarcliente (seleccionarClienteEvent)="seleccionarCliente($event)"></app-buscarcliente>
</div>